@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Roboto');

body {
  margin:0;
  padding:0;
  background: rgb(240, 240, 240);
  font-family: 'Do Hyeon', sans-serif;
}
a{
  color:#fff;
  text-decoration: none;
}
ul li {
  list-style: none;
}

